h1 {
  font-family: Verdana;
  font-size: 50px;
  color: white;
  font-weight: normal;
  }

body {
  background-color: black;
  text-align: center;
}

.underline_download {
  text-decoration: underline;
  color: aquamarine;
  font-size: 16px;
}

.travel_guide {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white
}

.excursion_places_text {
  font-family: Verdana;
  font-size: 21px;
  color: gray
}
